.todos-wrap {
  position: relative;
  /* top: 30%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* width: 900px; */
  /* height: calc(600px - 30px); */
  /* border: 1px solid cadetblue; */
  width: 96%;
  height: calc(100vh - 38px);
  padding-bottom: 30px;
  // box-sizing: content-box;
  margin: 2%;
  box-sizing: border-box;
  box-shadow: 0 0 5px 5px #00e3ff85;
}

.todos-body {
  position: relative;
  height: calc(100vh - 120px);
  overflow-y: auto;
  &.not-login {
    overflow: hidden;
    &::before{
      filter: blur(5px);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba(127, 255, 212, .8);
    }
    &::after{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: '去登录';
      width: 100px;
      height: 50px;
      line-height: 50px;
      background-color: rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 5px #fff;
      cursor: pointer;
    }
  }
  .loading-wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    .loading {
      position: absolute;
      display: inline-block;
      width: 30px;
      max-width: 100%;
      height: 30px;
      max-height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      vertical-align: middle;
      animation: loading-rotate 0.8s linear infinite;
      .loading-svg{
        color: lightgreen;
        font-size: 0;
        display: block;
        width: 100%;
        height: 100%;
        circle {
          animation: loading-circular 1.5s ease-in-out infinite;
          stroke: currentColor;
          stroke-width: 3;
          stroke-linecap: round;
        }
      }
    }
  }
}

.todos-operation {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  /* border-top: 1px solid cadetblue; */
  background: linear-gradient(limegreen, transparent), linear-gradient(90deg, skyblue, transparent), linear-gradient(-90deg, coral, transparent);
  background-blend-mode: screen;
    .operation-input {
        flex: 1;
        color: #000;
        padding: 0 10px;
        border: 0 none;
        outline: 0 none;
        background-color: transparent;
    }
    .apply {
        font-size: 14px;
        width: 10%;
        color: #fff;
        line-height: 30px;
        padding: 0 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }
    .apply:active {
        color: #006a6d;
    background-color: #e9f9fa;
    }
    .apply:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

/*css主要部分的样式*/
/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 5px; /*对垂直流动条有效*/
  height: 5px; /*对水平流动条有效*/
}
  
/*定义滚动条的轨道颜色、内阴影及圆角*/
::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgb(202 202 202 / 0%);
  /* background-color: rosybrown; */
  background-color: #fff;
  border-radius: 3px;
}
  
  
/*定义滑块颜色、内阴影及圆角*/
::-webkit-scrollbar-thumb{
  border-radius: 7px;
  -webkit-box-shadow: inset 0 0 6px rgb(194 187 187);
  background-color: #E8E8E8;
}
  
/*定义两端按钮的样式*/
/* ::-webkit-scrollbar-button {
  background-color:cyan;
} */
  
/*定义右下角汇合处的样式*/
::-webkit-scrollbar-corner {
  background:khaki;
}

@keyframes loading-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
@keyframes loading-circular {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -40;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -120;
  }
}