.todos-item {
  height: 30px;
  padding-left: 12px;
  display: flex;
  align-items: center;
  text-align: left;
  color: darkcyan;
  box-sizing: border-box;
  /* background-color: rgba(72, 236, 168, 0.3); */
}
.todos-item:nth-child(2n + 1) {
  /* background-color: rgba(71, 210, 245, 0.3); */
}
.todos-item:hover {
  color: #18b1b1;
  background-color: #f6f7f7;
}
.item-content {
  width: 88%;
}
.solve-icon,
.close-icon {
  color: cadetblue;
  width: 4%;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  border: 0 none;
  outline: 0 none;
}
.solve-icon:active,
.close-icon:active {
  background-color: #ccc;
}
.solve-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-icon {
  margin: 0 2%;
}
.todos-item.is-finish {
  color: #ccc;
}
.todos-item.is-finish .item-content{
  text-decoration: line-through;
}
.todos-item.is-finish .solve-icon,
.todos-item.is-finish .close-icon {
  color: #999;
}
.todos-item.is-finish:hover {
  color: #999;
}
.todos-item.todos-item-edit {
  outline: 1px dashed #18b1b1;
}
.todos-item.todos-item-edit .edit-content {
  height: 100%;
  flex: 1;
  border: 0 none;
  outline: 0 none;
}

/* 
  Unicode: http://www.52unicode.com/miscellaneous-symbols-zifu
*/