
/* 星光闪耀 */
.starry{
  position:absolute;
  top: 0;left: 10%;
  transform: translate(-50%, -50%);
  height: 4px;width: 4px;
  border-radius:50%;
  box-shadow:
    #FFFFFF -26px 77px 0 -1px,
    rgba(255,255,255,0.1) -36px 59px 0 -1px,
    rgba(255,255,255,0.1) -28px 89px 0 -1px,
    #FFFFFF -35px 20px 0 -1px,
    #FFFFFF 14px 100px,
    rgba(255,255,255,0.1) 41px 60px,
    #FFFFFF 34px 39px,
    rgba(255,255,255,0.1) 14px 45px 0 -1px,
    #FFFFFF 64px 12px 0 -1px,
    rgba(255,255,255,0.1) 32px 96px 0 -1px,
    #FFFFFF 64px 71px,
    rgba(255,255,255,0.1) 60px 18px 0 -1px,
    #FFFFFF 34px 9px,
    rgba(255,255,255,0.1) -26px 55px 0 -1px;
  animation: starry_star 5s ease-in-out infinite;
}
@keyframes starry_star{
  50%{
    box-shadow:
      rgba(255,255,255,0.1) -26px 77px 0 -1px,
      #FFF -36px 59px 0 -1px,
      #FFF -28px 89px 0 -1px,
      rgba(255,255,255,0.1) -35px 20px 0 -1px,
      rgba(255,255,255,0.1) 14px 100px,
      #FFF 41px 60px,
      rgba(255,255,255,0.1) 34px 39px,
      #FFF 14px 45px 0 -1px,
      rgba(255,255,255,0.1) 64px 12px 0 -1px,
      #FFF 32px 96px 0 -1px,
      rgba(255,255,255,0.1) 64px 71px,
      #FFF 60px 18px 0 -1px,
      rgba(255,255,255,0.1) 34px 9px,
      #FFF -26px 55px 0 -1px;
    }
}


/* 炫彩背景 */
.colorful-stripe {
  background: linear-gradient(limegreen, transparent), linear-gradient(90deg, skyblue, transparent), linear-gradient(-90deg, coral, transparent);
  background-blend-mode: screen;
  -webkit-animation: colorfulStripeChange 5s infinite alternate linear;
          animation: colorfulStripeChange 5s infinite alternate linear;
}
@-webkit-keyframes colorfulStripeChange {
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}
@keyframes colorfulStripeChange {
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}


/* 
* 样式参考地址：https://chokcoco.github.io/magicCss/html/index.html 
*/