#my-dialog-wrap {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .6);
  z-index: 99999;
}
.my-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 150px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 2px solid cadetblue;
}
.my-dialog-title {
  border-bottom: 2px solid cadetblue;
}
.my-dialog-content {
  height: 96px;
  text-align: center;
  line-height: 2;
}
.my-dialog-operation {
  display: flex;
  border-top: 2px solid cadetblue;
}
.my-dialog-operation .cancel,
.my-dialog-operation .confirm{
  flex: 1;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.my-dialog-operation .cancel{
  color: #ccc;
}
.my-dialog-operation .confirm{
  color: #666;
  border-left: 2px solid cadetblue;
}
.my-dialog-operation .cancel:active {
  color: #666;
}
.my-dialog-operation .confirm:active {
  color: #333;
}
