$size: 12px;

.check-box {
  position: relative;
  display: flex;
  width: $size;
  height: $size;
  line-height: $size;
  align-items: center;
  justify-content: center;
  border: 1px solid #666;
  cursor: pointer;

  &.--default {
    // border-color: #666;
  }

  // 对勾
  &.--solved {
    border-color: #7ddd7d;
    &::before{
      content: '';
      width: math.div($size, 2);
      height: math.div($size, 15);
      background-color: #7ddd7d;
      transform: rotate(40deg);
      position: absolute;
      left: 0;
      bottom: math.div($size, 3);
    }
    &::after{
      content: '';
      width: math.div($size, 15);
      height: $size;
      background-color: #7ddd7d;
      transform: rotate(40deg);
      position: absolute;
      left: math.div($size, 1.5);
      bottom: math.div($size, 12);
    }
  }

  // // 带阴影的
  // &.--solved {
  //   // border-color: lightgreen;
  //   &::before{
  //     content: '';
  //     width: $size * 1;
  //     height: $size * 1;
  //     // border-radius: 20%;
  //     background-color: limegreen;
  //   }
  //   &::after{
  //     top: 50%;
  //     left: 50%;
  //     transform: translate(-50%, -50%);
  //     position: absolute;
  //     $bw: $size * 0.4;
  //     // $c: #7ddd7d;
  //     content: '';
  //     width: $size * 0.15;
  //     height: $size * 0.15;
  //     border-top: $bw solid #1d521d;
  //     border-left: $bw solid #307730;
  //     border-right: $bw solid #098509;
  //     border-bottom: $bw solid #7ddd7d;
  //     border-radius: 20%;
  //     background-color: #135e13;
    // }
  // }
}
